*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.container {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.btn {
    padding: 18px 47px;
    border: 2px solid blue;
    border-radius: 5px;
    background-color: aliceblue;
    /*transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;*/
	transition: 1s ease-in-out 1s;
}

.btn:hover {
	background:yellow;
    border: 1px solid red;
}

.btn:active {
  
    border: 1px solid red;
    background-color: indianred;
}


/*--css-transform--*/
.allbox {
    padding: 25px;
    display: flex;
    gap: 34px;
}

.box {
    width: 150px;
    height: 150px;
    background: plum;
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    transition: all 1s ease-in;
}

/*-for-transition-in-hover-*/
.box:hover {
    transform: rotate(45deg);
}

/*-for-transition-scale-*/
.box1 {
    width: 150px;
    height: 150px;
    background: limegreen;
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    transition: all 1s ease-in;
}

.box1:hover {
    transform: scale(1.2);
}

/*--transform-translate--*/
.box2 {
    width: 150px;
    height: 150px;
    background: chocolate;
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    transition: all 0.8s ease-in;
}

.box2:hover {
    transform: translate(20px);
}

.box3 {
    width: 150px;
    height: 150px;
    background: red;
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    transition: all 0.8s ease-in;
}

.box3:hover {
    transform: translate(20px, 20px);
}

.box4 {
    width: 150px;
    height: 150px;
    background: cadetblue;
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    transition: all 0.8s ease-in;
}

.box4:hover {
    transform: translateY(20px);
}