.container{
	border: 3px solid green;
}
/* .container-fluid{
	border: 5px solid red;
} */
.col{
	min-height: 250px;
	background: yellow;
}
.box-1{
	min-height: 150px;
	background: red;
}
.box-2{
	min-height: 150px;
	background: orange;
}
.box-3{
	min-height: 150px;
	background: blueviolet;
}
.box-4{
	min-height: 150px;
	background: aqua;
}

/*--Offset-Start--*/
